.main{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    gap: 10px;
}
#jane{
    height:70%;
}

span{
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    font-size: 2vmax;
    margin-top: 20px;
    background-clip: text;
    color: transparent;
}

button{
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    color: white;
    font-size: 1.2vmax;
    cursor: pointer;
    transition: 0.3s;
}
#speak{
    width: 120px;

}
p{
    font-size: 1.3vmax;
    color: white;
    text-align: center;
    padding: 0px 40px;

}
.response{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
#aigif{
    width: 50vh;
    height: 100px;

}